
@{
    ViewBag.Title = "AddAddition";
}

<h2>AddAddition</h2>

The data entered was: <br />

num1 = @ViewBag.num1 <br />
num2 = @ViewBag.num2 <br />
userAnswer = @ViewBag.user <br />
correctAnswer = @ViewBag.correct <br /><br />
@ViewBag.Sql <br />